@import "../../variables.scss";

.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 2rem;
}

.projectContainer {
  background-color: $secondary-dark;
  border-radius: $border-radius;
  margin: 0.5rem;
  padding: 0.1rem;
  height: 150px;
  position: relative;
  width: 100%;
  transition: transform 0.2s;
  font-size: 2rem;
  &:hover {
    transform: scale(1.02);
  }

  > div {
    border-radius: $border-radius;
    height: 100%;
  }
}

.titleOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #000000cc;
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 460px) {
  .projects {
    grid-template-columns: auto;
  }
}
