$primary: #fff;
$secondary: #6792c7;
$secondary-dark: #405a7a;
$secondary-light: #84bbff;
$primary-light: #76b4ff;
$backroung-color: #000;
$app-border-padding: 6rem;
$appBar-height: 3rem;
$border-radius: 4px;
